BTC_ADDRESS=your_bitcoin_address_here
NEXT_PUBLIC_BTC_ADDRESS=your_bitcoin_address_here
CASHTAG=@YourName
NEXT_PUBLIC_CASHTAG=@YourName
ADMIN_PASSWORD=your_secure_password
MIN_AMOUNT=10
MAX_AMOUNT=2000
SITE_NAME=CashPay

# MongoDB Atlas connection string
MONGODB_URI=mongodb+srv://username:password@cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority
